.appointment-service_size--8_qUw4e {
	font-size: .5rem;
	font-weight: 500;
	line-height: 1.5em
}

.appointment-service_size--9_ryhmj {
	font-size: .5625rem;
	font-weight: 500;
	line-height: 1.5555555556em
}

.appointment-service_size--9-sb_iKNKu {
	font-size: .5625rem;
	font-weight: 600;
	line-height: 1.5555555556em
}

.appointment-service_size--10_ymlJO {
	font-size: .625rem;
	font-weight: 500;
	line-height: 1.8em
}

.appointment-service_size--11_tQSSQ {
	font-size: .6875rem;
	font-weight: 500;
	line-height: 1.6363636364em
}

.appointment-service_size--10-sb_iemby {
	font-size: .625rem;
	font-weight: 600;
	line-height: 1.8em
}

.appointment-service_size--12_Hog21 {
	font-size: .75rem;
	font-weight: 500;
	line-height: 1.5em
}

.appointment-service_size--12-sb_IKuwD {
	font-size: .75rem;
	font-weight: 600;
	line-height: 1.5em
}

.appointment-service_size--12-b_y0Yo0 {
	font-size: .75rem;
	font-weight: 700;
	line-height: 1.5em
}

.appointment-service_size--13_bTxOL {
	font-size: .75rem;
	font-weight: 500;
	line-height: 1.5em
}

.appointment-service_size--14__gGWE {
	font-size: .875rem;
	font-weight: 500;
	line-height: 1.5714285714em
}

.appointment-service_size--14-sb_KVpBe {
	font-size: .875rem;
	font-weight: 600;
	line-height: 1.5714285714em
}

.appointment-service_size--14-b_gAbVo {
	font-size: .875rem;
	font-weight: 700;
	line-height: 1.5714285714em
}

.appointment-service_size--16_o1v8h {
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5em
}

.appointment-service_size--16-sb_HK7gI {
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.5em
}

.appointment-service_size--16-b_WkE7u {
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.5em
}

.appointment-service_size--18_k1269 {
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 1.5555555556em
}

.appointment-service_size--18-sb_g7xCr {
	font-size: 1.125rem;
	font-weight: 600;
	line-height: 1.5555555556em
}

.appointment-service_size--18-b_cbkg0 {
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 1.5555555556em
}

.appointment-service_size--20_fS3Jm {
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 1.5em
}

.appointment-service_size--20-b_ivX5p {
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 1.5em
}

.appointment-service_size--20-sb_bqvzv {
	font-size: 1.25rem;
	font-weight: 600;
	line-height: 1.5em
}

.appointment-service_size--22_ZK9J7 {
	font-size: 1.375rem;
	font-weight: 500;
	line-height: 1.2272727273em
}

.appointment-service_size--22-sb_Azh1E {
	font-size: 1.375rem;
	font-weight: 600;
	line-height: 1.2272727273em
}

.appointment-service_size--24-sb_IUbmz {
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1.5em
}

.appointment-service_size--24-b_MapKz {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.5em
}

.appointment-service_size--28_oh_nk {
	font-size: 1.75rem;
	font-weight: 500;
	line-height: 1.5em
}

.appointment-service_size--28-sb_DRfpV {
	font-size: 1.75rem;
	font-weight: 600;
	line-height: 1.5em
}

.appointment-service_size--28-b_Rcur1,
.appointment-service_size--32-b_ini6T {
	font-size: 1.75rem;
	font-weight: 700;
	line-height: 1.5em
}

.appointment-service_size--36-b_SYrVC {
	font-size: 2.25rem;
	font-weight: 700;
	line-height: 1.1666666667em
}

.appointment-service_size--40-b_Is6Ck {
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 1.3em
}

.appointment-service_service_KFga9 {
	position: relative;
	padding-left: 5px;
	word-break: break-word
}

.appointment-service_serviceBar_d_tAg {
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 28px;
	border-left-width: 3px;
	border-style: solid;
	height: 100%
}

.appointment-service_serviceSubHeader_OGHVA {
	color: #a9a9a9
}

.receipt-status-badge_size--8_JrHpx {
	font-size: .5rem;
	font-weight: 500;
	line-height: 1.5em
}

.receipt-status-badge_size--9_D78Nm {
	font-size: .5625rem;
	font-weight: 500;
	line-height: 1.5555555556em
}

.receipt-status-badge_size--9-sb_zgSEq {
	font-size: .5625rem;
	font-weight: 600;
	line-height: 1.5555555556em
}

.receipt-status-badge_size--10_DFlRt {
	font-size: .625rem;
	font-weight: 500;
	line-height: 1.8em
}

.receipt-status-badge_size--11_QniqB {
	font-size: .6875rem;
	font-weight: 500;
	line-height: 1.6363636364em
}

.receipt-status-badge_size--10-sb_FRJ75 {
	font-size: .625rem;
	font-weight: 600;
	line-height: 1.8em
}

.receipt-status-badge_size--12_oIOwq {
	font-size: .75rem;
	font-weight: 500;
	line-height: 1.5em
}

.receipt-status-badge_size--12-sb_Ee6z4 {
	font-size: .75rem;
	font-weight: 600;
	line-height: 1.5em
}

.receipt-status-badge_size--12-b_HYdDw {
	font-size: .75rem;
	font-weight: 700;
	line-height: 1.5em
}

.receipt-status-badge_size--13_JpQWj {
	font-size: .75rem;
	font-weight: 500;
	line-height: 1.5em
}

.receipt-status-badge_size--14_RcBqI {
	font-size: .875rem;
	font-weight: 500;
	line-height: 1.5714285714em
}

.receipt-status-badge_size--14-sb_cFrVW {
	font-size: .875rem;
	font-weight: 600;
	line-height: 1.5714285714em
}

.receipt-status-badge_size--14-b_q4DAV {
	font-size: .875rem;
	font-weight: 700;
	line-height: 1.5714285714em
}

.receipt-status-badge_size--16_2Zdwa {
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5em
}

.receipt-status-badge_size--16-sb_QhVvP {
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.5em
}

.receipt-status-badge_size--16-b_w_Ikp {
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.5em
}

.receipt-status-badge_size--18_ABpHN {
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 1.5555555556em
}

.receipt-status-badge_size--18-sb_Z0C9x {
	font-size: 1.125rem;
	font-weight: 600;
	line-height: 1.5555555556em
}

.receipt-status-badge_size--18-b_UpG7n {
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 1.5555555556em
}

.receipt-status-badge_size--20_FVU9N {
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 1.5em
}

.receipt-status-badge_size--20-b_WZF_f {
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 1.5em
}

.receipt-status-badge_size--20-sb_ep18w {
	font-size: 1.25rem;
	font-weight: 600;
	line-height: 1.5em
}

.receipt-status-badge_size--22_MLcgB {
	font-size: 1.375rem;
	font-weight: 500;
	line-height: 1.2272727273em
}

.receipt-status-badge_size--22-sb_SsQzL {
	font-size: 1.375rem;
	font-weight: 600;
	line-height: 1.2272727273em
}

.receipt-status-badge_size--24-sb_ASiNR {
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1.5em
}

.receipt-status-badge_size--24-b_nPW7j {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.5em
}

.receipt-status-badge_size--28_p_CjZ {
	font-size: 1.75rem;
	font-weight: 500;
	line-height: 1.5em
}

.receipt-status-badge_size--28-sb_Rf1fx {
	font-size: 1.75rem;
	font-weight: 600;
	line-height: 1.5em
}

.receipt-status-badge_size--28-b_jlKmt,
.receipt-status-badge_size--32-b_V5fR0 {
	font-size: 1.75rem;
	font-weight: 700;
	line-height: 1.5em
}

.receipt-status-badge_size--36-b_tWen6 {
	font-size: 2.25rem;
	font-weight: 700;
	line-height: 1.1666666667em
}

.receipt-status-badge_size--40-b_f0hnu {
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 1.3em
}

.receipt-status-badge_size--xs_EtgLy {
	padding: 2px 6px;
	border-radius: 100px;
	line-height: 1rem!important
}

.receipt-status-badge_size--sm_vGxp5 {
	padding: 0 8px
}

.receipt-status-badge_size--md_INMcW {
	padding: 0 16px
}

.receipt-status-badge_status_vwj1d {
	border-radius: .75rem;
	text-transform: uppercase;
	width: -moz-fit-content;
	width: fit-content
}

.receipt-status-badge_statusGreen_Aw6NK {
	background-color: rgba(0, 190, 112, .1);
	color: #00be70
}

.receipt-status-badge_statusOrange_GRM8c {
	background-color: rgba(255, 148, 0, .1);
	color: #ff9400
}

.receipt-status-badge_statusRed_V4ZL4 {
	background-color: rgba(235, 0, 67, .1);
	color: #eb0043
}

.receipt-status-badge_statusGray_LnNkq {
	background-color: hsla(45, 2%, 54%, .1);
	color: #8c8b88
}

.appointment_size--8_cFnfS {
	font-size: .5rem;
	font-weight: 500;
	line-height: 1.5em
}

.appointment_size--9_OmOqA {
	font-size: .5625rem;
	font-weight: 500;
	line-height: 1.5555555556em
}

.appointment_size--9-sb_AGbcV {
	font-size: .5625rem;
	font-weight: 600;
	line-height: 1.5555555556em
}

.appointment_size--10_eQYDH {
	font-size: .625rem;
	font-weight: 500;
	line-height: 1.8em
}

.appointment_size--11_d8sTA {
	font-size: .6875rem;
	font-weight: 500;
	line-height: 1.6363636364em
}

.appointment_size--10-sb_A9QNo {
	font-size: .625rem;
	font-weight: 600;
	line-height: 1.8em
}

.appointment_size--12_z41bf {
	font-size: .75rem;
	font-weight: 500;
	line-height: 1.5em
}

.appointment_size--12-sb_pkbsu {
	font-size: .75rem;
	font-weight: 600;
	line-height: 1.5em
}

.appointment_size--12-b_cnObN {
	font-size: .75rem;
	font-weight: 700;
	line-height: 1.5em
}

.appointment_size--13_rZNFT {
	font-size: .75rem;
	font-weight: 500;
	line-height: 1.5em
}

.appointment_size--14_P6SkU {
	font-size: .875rem;
	font-weight: 500;
	line-height: 1.5714285714em
}

.appointment_size--14-sb_PNal1 {
	font-size: .875rem;
	font-weight: 600;
	line-height: 1.5714285714em
}

.appointment_size--14-b_RqvP2 {
	font-size: .875rem;
	font-weight: 700;
	line-height: 1.5714285714em
}

.appointment_size--16_Dtrks {
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5em
}

.appointment_size--16-sb_hG9l7 {
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.5em
}

.appointment_size--16-b_iLsL9 {
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.5em
}

.appointment_size--18_BE9zk {
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 1.5555555556em
}

.appointment_size--18-sb_vA6Sh {
	font-size: 1.125rem;
	font-weight: 600;
	line-height: 1.5555555556em
}

.appointment_size--18-b_sLs9v {
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 1.5555555556em
}

.appointment_size--20_f83BD {
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 1.5em
}

.appointment_size--20-b_plDsW {
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 1.5em
}

.appointment_size--20-sb_izLkH {
	font-size: 1.25rem;
	font-weight: 600;
	line-height: 1.5em
}

.appointment_size--22_XFf9s {
	font-size: 1.375rem;
	font-weight: 500;
	line-height: 1.2272727273em
}

.appointment_size--22-sb_I_y73 {
	font-size: 1.375rem;
	font-weight: 600;
	line-height: 1.2272727273em
}

.appointment_size--24-sb_r28xN {
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1.5em
}

.appointment_size--24-b_YO2u5 {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.5em
}

.appointment_size--28_Pv54M {
	font-size: 1.75rem;
	font-weight: 500;
	line-height: 1.5em
}

.appointment_size--28-sb_TlvfC {
	font-size: 1.75rem;
	font-weight: 600;
	line-height: 1.5em
}

.appointment_size--28-b_KsadL,
.appointment_size--32-b_MlbGv {
	font-size: 1.75rem;
	font-weight: 700;
	line-height: 1.5em
}

.appointment_size--36-b_kZwJS {
	font-size: 2.25rem;
	font-weight: 700;
	line-height: 1.1666666667em
}

.appointment_size--40-b_D_Csx {
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 1.3em
}

.appointment_appointment_LmBLD {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 13px
}

.appointment_redo_m4i8Z {
	padding: 0 12px
}

.appointment_redoButton_PBpSa {
	margin-top: 17px!important;
	width: auto!important;
	padding: 0 12px!important;
	height: 2rem!important;
	font-size: 12px!important
}

.appointment_date_adiXm {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	line-height: 1.1;
	flex: 0 0 68px;
	text-transform: capitalize
}

.appointment_day_kMAbm,
.appointment_hour_hmPAU,
.appointment_month_RSbcb {
	flex: 0 0 100%;
	text-align: center
}

.appointment_info_QK4CC {
	flex: 1
}

.appointment_statuses_ek4HL {
	display: flex
}

.appointment_additionals_Eg8kg {
	display: flex;
	justify-content: flex-end
}

.appointment_additionalsLonger_J5WmT {
	flex-basis: 20%
}

.appointment_total_tXjTE {
	flex-basis: 20%;
	margin-top: 21px;
	text-align: center
}

.appointment_compact_ufcki .appointment_info_QK4CC {
	padding-right: 5px
}

.appointment_compact_ufcki .appointment_additionals_Eg8kg {
	flex-wrap: wrap;
	justify-content: flex-end
}

.appointment_compact_ufcki .appointment_additionals_Eg8kg .appointment_total_tXjTE {
	flex-basis: 100%;
	margin-top: 0;
	text-align: right
}

.appointment_compact_ufcki .appointment_additionals_Eg8kg .appointment_redo_m4i8Z {
	padding: 0
}

.appointment_compact_ufcki .appointment_additionals_Eg8kg .appointment_redoButton_PBpSa {
	margin-top: 0!important;
	margin-bottom: 4px
}

.booking-items_size--8_LXFHH {
	font-size: .5rem;
	font-weight: 500;
	line-height: 1.5em
}

.booking-items_size--9_W8rs2 {
	font-size: .5625rem;
	font-weight: 500;
	line-height: 1.5555555556em
}

.booking-items_size--9-sb_aA8Tn {
	font-size: .5625rem;
	font-weight: 600;
	line-height: 1.5555555556em
}

.booking-items_size--10_uZB7T {
	font-size: .625rem;
	font-weight: 500;
	line-height: 1.8em
}

.booking-items_size--11_xWQNo {
	font-size: .6875rem;
	font-weight: 500;
	line-height: 1.6363636364em
}

.booking-items_size--10-sb_oSUMO {
	font-size: .625rem;
	font-weight: 600;
	line-height: 1.8em
}

.booking-items_size--12_ww33g {
	font-size: .75rem;
	font-weight: 500;
	line-height: 1.5em
}

.booking-items_size--12-sb_Ap7xP {
	font-size: .75rem;
	font-weight: 600;
	line-height: 1.5em
}

.booking-items_size--12-b_NdQ_J {
	font-size: .75rem;
	font-weight: 700;
	line-height: 1.5em
}

.booking-items_size--13_OIrZY {
	font-size: .75rem;
	font-weight: 500;
	line-height: 1.5em
}

.booking-items_size--14_pN9V1 {
	font-size: .875rem;
	font-weight: 500;
	line-height: 1.5714285714em
}

.booking-items_size--14-sb_reOjD {
	font-size: .875rem;
	font-weight: 600;
	line-height: 1.5714285714em
}

.booking-items_size--14-b_BkT54 {
	font-size: .875rem;
	font-weight: 700;
	line-height: 1.5714285714em
}

.booking-items_size--16_H7jua {
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5em
}

.booking-items_size--16-sb_McBDT {
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.5em
}

.booking-items_size--16-b_iWwGZ {
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.5em
}

.booking-items_size--18_XAjPh {
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 1.5555555556em
}

.booking-items_size--18-sb_Hthxs {
	font-size: 1.125rem;
	font-weight: 600;
	line-height: 1.5555555556em
}

.booking-items_size--18-b_eSBzn {
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 1.5555555556em
}

.booking-items_size--20_K6ixi {
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 1.5em
}

.booking-items_size--20-b_Qy4kH {
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 1.5em
}

.booking-items_size--20-sb_Ym1Nq {
	font-size: 1.25rem;
	font-weight: 600;
	line-height: 1.5em
}

.booking-items_size--22_kOmzh {
	font-size: 1.375rem;
	font-weight: 500;
	line-height: 1.2272727273em
}

.booking-items_size--22-sb_jc2_r {
	font-size: 1.375rem;
	font-weight: 600;
	line-height: 1.2272727273em
}

.booking-items_size--24-sb_adYfH {
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1.5em
}

.booking-items_size--24-b_hP_zY {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.5em
}

.booking-items_size--28_GXULS {
	font-size: 1.75rem;
	font-weight: 500;
	line-height: 1.5em
}

.booking-items_size--28-sb_RiOyu {
	font-size: 1.75rem;
	font-weight: 600;
	line-height: 1.5em
}

.booking-items_size--28-b_ZdaGa,
.booking-items_size--32-b_lOtMf {
	font-size: 1.75rem;
	font-weight: 700;
	line-height: 1.5em
}

.booking-items_size--36-b_Kh9PH {
	font-size: 2.25rem;
	font-weight: 700;
	line-height: 1.1666666667em
}

.booking-items_size--40-b_tW8i7 {
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 1.3em
}

.booking-items_appointmentItem_hsek1 {
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 2px 4px 0 rgba(49, 47, 51, .03);
	padding: 14px 14px 14px 0;
	cursor: pointer
}
