.receipt-status-badge_size--8_JrHpx {
	font-size: .5rem;
	font-weight: 500;
	line-height: 1.5em
}

.receipt-status-badge_size--9_D78Nm {
	font-size: .5625rem;
	font-weight: 500;
	line-height: 1.5555555556em
}

.receipt-status-badge_size--9-sb_zgSEq {
	font-size: .5625rem;
	font-weight: 600;
	line-height: 1.5555555556em
}

.receipt-status-badge_size--10_DFlRt {
	font-size: .625rem;
	font-weight: 500;
	line-height: 1.8em
}

.receipt-status-badge_size--11_QniqB {
	font-size: .6875rem;
	font-weight: 500;
	line-height: 1.6363636364em
}

.receipt-status-badge_size--10-sb_FRJ75 {
	font-size: .625rem;
	font-weight: 600;
	line-height: 1.8em
}

.receipt-status-badge_size--12_oIOwq {
	font-size: .75rem;
	font-weight: 500;
	line-height: 1.5em
}

.receipt-status-badge_size--12-sb_Ee6z4 {
	font-size: .75rem;
	font-weight: 600;
	line-height: 1.5em
}

.receipt-status-badge_size--12-b_HYdDw {
	font-size: .75rem;
	font-weight: 700;
	line-height: 1.5em
}

.receipt-status-badge_size--13_JpQWj {
	font-size: .75rem;
	font-weight: 500;
	line-height: 1.5em
}

.receipt-status-badge_size--14_RcBqI {
	font-size: .875rem;
	font-weight: 500;
	line-height: 1.5714285714em
}

.receipt-status-badge_size--14-sb_cFrVW {
	font-size: .875rem;
	font-weight: 600;
	line-height: 1.5714285714em
}

.receipt-status-badge_size--14-b_q4DAV {
	font-size: .875rem;
	font-weight: 700;
	line-height: 1.5714285714em
}

.receipt-status-badge_size--16_2Zdwa {
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5em
}

.receipt-status-badge_size--16-sb_QhVvP {
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.5em
}

.receipt-status-badge_size--16-b_w_Ikp {
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.5em
}

.receipt-status-badge_size--18_ABpHN {
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 1.5555555556em
}

.receipt-status-badge_size--18-sb_Z0C9x {
	font-size: 1.125rem;
	font-weight: 600;
	line-height: 1.5555555556em
}

.receipt-status-badge_size--18-b_UpG7n {
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 1.5555555556em
}

.receipt-status-badge_size--20_FVU9N {
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 1.5em
}

.receipt-status-badge_size--20-b_WZF_f {
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 1.5em
}

.receipt-status-badge_size--20-sb_ep18w {
	font-size: 1.25rem;
	font-weight: 600;
	line-height: 1.5em
}

.receipt-status-badge_size--22_MLcgB {
	font-size: 1.375rem;
	font-weight: 500;
	line-height: 1.2272727273em
}

.receipt-status-badge_size--22-sb_SsQzL {
	font-size: 1.375rem;
	font-weight: 600;
	line-height: 1.2272727273em
}

.receipt-status-badge_size--24-sb_ASiNR {
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1.5em
}

.receipt-status-badge_size--24-b_nPW7j {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.5em
}

.receipt-status-badge_size--28_p_CjZ {
	font-size: 1.75rem;
	font-weight: 500;
	line-height: 1.5em
}

.receipt-status-badge_size--28-sb_Rf1fx {
	font-size: 1.75rem;
	font-weight: 600;
	line-height: 1.5em
}

.receipt-status-badge_size--28-b_jlKmt,
.receipt-status-badge_size--32-b_V5fR0 {
	font-size: 1.75rem;
	font-weight: 700;
	line-height: 1.5em
}

.receipt-status-badge_size--36-b_tWen6 {
	font-size: 2.25rem;
	font-weight: 700;
	line-height: 1.1666666667em
}

.receipt-status-badge_size--40-b_f0hnu {
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 1.3em
}

.receipt-status-badge_size--xs_EtgLy {
	padding: 2px 6px;
	border-radius: 100px;
	line-height: 1rem !important
}

.receipt-status-badge_size--sm_vGxp5 {
	padding: 0 8px
}

.receipt-status-badge_size--md_INMcW {
	padding: 0 16px
}

.receipt-status-badge_status_vwj1d {
	border-radius: .75rem;
	text-transform: uppercase;
	width: -moz-fit-content;
	width: fit-content
}

.receipt-status-badge_statusGreen_Aw6NK {
	background-color: rgba(0, 190, 112, .1);
	color: #00be70
}

.receipt-status-badge_statusOrange_GRM8c {
	background-color: rgba(255, 148, 0, .1);
	color: #ff9400
}

.receipt-status-badge_statusRed_V4ZL4 {
	background-color: rgba(235, 0, 67, .1);
	color: #eb0043
}

.receipt-status-badge_statusGray_LnNkq {
	background-color: hsla(45, 2%, 54%, .1);
	color: #8c8b88
}

.customer-field-locked_icon_J4sOh {
	margin-right: .4em
}

.payment-receipt_size--8_Qt4dr {
	font-size: .5rem;
	font-weight: 500;
	line-height: 1.5em
}

.payment-receipt_size--9_W3mHQ {
	font-size: .5625rem;
	font-weight: 500;
	line-height: 1.5555555556em
}

.payment-receipt_size--9-sb_rxycG {
	font-size: .5625rem;
	font-weight: 600;
	line-height: 1.5555555556em
}

.payment-receipt_size--10_bf2DQ {
	font-size: .625rem;
	font-weight: 500;
	line-height: 1.8em
}

.payment-receipt_size--11_mWv8M {
	font-size: .6875rem;
	font-weight: 500;
	line-height: 1.6363636364em
}

.payment-receipt_size--10-sb_JzDNm {
	font-size: .625rem;
	font-weight: 600;
	line-height: 1.8em
}

.payment-receipt_size--12_zJMLU {
	font-size: .75rem;
	font-weight: 500;
	line-height: 1.5em
}

.payment-receipt_size--12-sb_WAmud {
	font-size: .75rem;
	font-weight: 600;
	line-height: 1.5em
}

.payment-receipt_size--12-b_YzS3I {
	font-size: .75rem;
	font-weight: 700;
	line-height: 1.5em
}

.payment-receipt_size--13_eeX84 {
	font-size: .75rem;
	font-weight: 500;
	line-height: 1.5em
}

.payment-receipt_size--14_pkege {
	font-size: .875rem;
	font-weight: 500;
	line-height: 1.5714285714em
}

.payment-receipt_size--14-sb_r8Zux {
	font-size: .875rem;
	font-weight: 600;
	line-height: 1.5714285714em
}

.payment-receipt_size--14-b_QHy1R {
	font-size: .875rem;
	font-weight: 700;
	line-height: 1.5714285714em
}

.payment-receipt_size--16_ecyj6 {
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5em
}

.payment-receipt_size--16-sb_LEIqn {
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.5em
}

.payment-receipt_size--16-b_bdxDm {
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.5em
}

.payment-receipt_size--18_fzzLo {
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 1.5555555556em
}

.payment-receipt_size--18-sb_Jf9GF {
	font-size: 1.125rem;
	font-weight: 600;
	line-height: 1.5555555556em
}

.payment-receipt_size--18-b_horav {
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 1.5555555556em
}

.payment-receipt_size--20_SVYCf {
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 1.5em
}

.payment-receipt_size--20-b_Zayyo {
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 1.5em
}

.payment-receipt_size--20-sb_I8DNx {
	font-size: 1.25rem;
	font-weight: 600;
	line-height: 1.5em
}

.payment-receipt_size--22_gi_Ew {
	font-size: 1.375rem;
	font-weight: 500;
	line-height: 1.2272727273em
}

.payment-receipt_size--22-sb_P4eSy {
	font-size: 1.375rem;
	font-weight: 600;
	line-height: 1.2272727273em
}

.payment-receipt_size--24-sb_CoWLF {
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1.5em
}

.payment-receipt_size--24-b_FKadt {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.5em
}

.payment-receipt_size--28_TDT6P {
	font-size: 1.75rem;
	font-weight: 500;
	line-height: 1.5em
}

.payment-receipt_size--28-sb_mVyAq {
	font-size: 1.75rem;
	font-weight: 600;
	line-height: 1.5em
}

.payment-receipt_size--28-b_cW10Y,
.payment-receipt_size--32-b_YqNIx {
	font-size: 1.75rem;
	font-weight: 700;
	line-height: 1.5em
}

.payment-receipt_size--36-b_InmZq {
	font-size: 2.25rem;
	font-weight: 700;
	line-height: 1.1666666667em
}

.payment-receipt_size--40-b_SKdJV {
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 1.3em
}

.payment-receipt_receiptCrossOut_wPKU8 {
	text-decoration: line-through
}

.payment-receipt_receiptAltText_VrnDU {
	color: #8c8b88
}

.payment-receipt_receiptInfo_RrRnL {
	display: flex;
	justify-content: space-between
}

.payment-receipt_receiptCustomer__F5o0 {
	display: flex;
	justify-content: flex-start
}

.payment-receipt_receiptLabels_dbSin {
	color: #8c8b88;
	display: flex;
	justify-content: space-between;
	padding: 22px 0 6px 0;
	margin-bottom: 6px;
	border-bottom: 1px solid #ebebeb
}

.payment-receipt_receiptItem_QWl3W {
	display: flex;
	align-items: center;
	padding: 6px 0
}

.payment-receipt_receiptItemName_BOOqL {
	flex: 1;
	padding-right: 12px
}

.payment-receipt_receiptItemQuantity_XWqsy {
	color: #8c8b88
}

.payment-receipt_receiptItemTotal_U6yh4 {
	flex: 0 0 70px;
	text-align: right;
	padding-left: 12px
}

.payment-receipt_receiptRow_n1eic {
	display: flex;
	align-items: center;
	padding: 6px 0
}

.payment-receipt_receiptRowAlt_CtByz {
	padding: 6px 0 22px 0;
	border-bottom: 1px solid #ebebeb
}

.payment-receipt_receiptRowPayments_JAX11 {
	padding: 10px 0;
	border-bottom: 1px solid #ebebeb
}

.payment-receipt_receiptRowTotalPaid_th16p {
	padding-top: 10px
}

.payment-receipt_receiptRowName_Me4zF {
	flex: 1;
	text-align: right;
	color: #8c8b88
}

.payment-receipt_receiptRowTotal_bf2SM {
	flex: 0 0 70px;
	text-align: right;
	padding-left: 12px
}

.payment-receipt_receiptRowTotalRefunded_tuDZM {
	color: #eb0043
}

.payment-receipt_receiptRowFooter_Vhxm6 {
	color: #8c8b88;
	justify-content: center
}

.payment-receipt_receiptRowActionButton_sPgat {
	border-radius: 6px
}

.payment-receipt_receiptRowActionButton_sPgat>div {
	padding: 0 10px !important
}

.payment-receipt_taxSummary_tF1kf {
	table-layout: auto;
	text-align: right;
	white-space: nowrap;
	margin: 12px 0
}

.payment-receipt_taxSummary_tF1kf td,
.payment-receipt_taxSummary_tF1kf th {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 15px;
	border-bottom: 1px solid #ebebeb;
	min-width: 4rem
}

.payment-receipt_taxSummary_tF1kf td:first-child,
.payment-receipt_taxSummary_tF1kf th:first-child {
	width: 100%
}

.payment-receipt_hr_6WSqP {
	margin: 12px 0
}

.payment-receipt_hrDouble_BH3IR {
	margin: 12px 0;
	border-width: 2px
}

.receipt-refund-confirm_size--8_DDeml {
	font-size: .5rem;
	font-weight: 500;
	line-height: 1.5em
}

.receipt-refund-confirm_size--9__Z9YI {
	font-size: .5625rem;
	font-weight: 500;
	line-height: 1.5555555556em
}

.receipt-refund-confirm_size--9-sb_sdBPP {
	font-size: .5625rem;
	font-weight: 600;
	line-height: 1.5555555556em
}

.receipt-refund-confirm_size--10_uDT_s {
	font-size: .625rem;
	font-weight: 500;
	line-height: 1.8em
}

.receipt-refund-confirm_size--11_HACsQ {
	font-size: .6875rem;
	font-weight: 500;
	line-height: 1.6363636364em
}

.receipt-refund-confirm_size--10-sb_4nNMQ {
	font-size: .625rem;
	font-weight: 600;
	line-height: 1.8em
}

.receipt-refund-confirm_size--12_NoJB2 {
	font-size: .75rem;
	font-weight: 500;
	line-height: 1.5em
}

.receipt-refund-confirm_size--12-sb_hXsoM {
	font-size: .75rem;
	font-weight: 600;
	line-height: 1.5em
}

.receipt-refund-confirm_size--12-b_j0LJO {
	font-size: .75rem;
	font-weight: 700;
	line-height: 1.5em
}

.receipt-refund-confirm_size--13_GfdTY {
	font-size: .75rem;
	font-weight: 500;
	line-height: 1.5em
}

.receipt-refund-confirm_size--14_Nh88m {
	font-size: .875rem;
	font-weight: 500;
	line-height: 1.5714285714em
}

.receipt-refund-confirm_size--14-sb_IgjJj {
	font-size: .875rem;
	font-weight: 600;
	line-height: 1.5714285714em
}

.receipt-refund-confirm_size--14-b_Lm3ts {
	font-size: .875rem;
	font-weight: 700;
	line-height: 1.5714285714em
}

.receipt-refund-confirm_size--16_QOTth {
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5em
}

.receipt-refund-confirm_size--16-sb_Q4qWF {
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.5em
}

.receipt-refund-confirm_size--16-b_MfsS5 {
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.5em
}

.receipt-refund-confirm_size--18_JxVKI {
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 1.5555555556em
}

.receipt-refund-confirm_size--18-sb_wQbao {
	font-size: 1.125rem;
	font-weight: 600;
	line-height: 1.5555555556em
}

.receipt-refund-confirm_size--18-b_nKEF5 {
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 1.5555555556em
}

.receipt-refund-confirm_size--20_YJUve {
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 1.5em
}

.receipt-refund-confirm_size--20-b_y3kHU {
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 1.5em
}

.receipt-refund-confirm_size--20-sb_H0K67 {
	font-size: 1.25rem;
	font-weight: 600;
	line-height: 1.5em
}

.receipt-refund-confirm_size--22_HUFT3 {
	font-size: 1.375rem;
	font-weight: 500;
	line-height: 1.2272727273em
}

.receipt-refund-confirm_size--22-sb_aZvPN {
	font-size: 1.375rem;
	font-weight: 600;
	line-height: 1.2272727273em
}

.receipt-refund-confirm_size--24-sb_i8Wzj {
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1.5em
}

.receipt-refund-confirm_size--24-b_fBMGY {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.5em
}

.receipt-refund-confirm_size--28_XGcJZ {
	font-size: 1.75rem;
	font-weight: 500;
	line-height: 1.5em
}

.receipt-refund-confirm_size--28-sb_KqjLJ {
	font-size: 1.75rem;
	font-weight: 600;
	line-height: 1.5em
}

.receipt-refund-confirm_size--28-b_GHLnW,
.receipt-refund-confirm_size--32-b_QUKrd {
	font-size: 1.75rem;
	font-weight: 700;
	line-height: 1.5em
}

.receipt-refund-confirm_size--36-b_Ib7ah {
	font-size: 2.25rem;
	font-weight: 700;
	line-height: 1.1666666667em
}

.receipt-refund-confirm_size--40-b_i4AEd {
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 1.3em
}

.receipt-refund-confirm_modalRefund_QcQxY {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	text-align: center
}

.receipt-refund-confirm_modalRefundHeader_MhGsE {
	padding: 1.5rem 0 10px
}

.receipt-refund-confirm_modalRefundText_mJ7lg {
	color: #8c8b88;
	padding-bottom: 8px
}

.receipt-refund-confirm_modalRefundButton_PqVYe {
	width: 100%;
	margin-top: 16px
}

.receipt-refund-confirm_receipt_QK7Ya {
	min-height: 622px
}

.receipt-cancel-confirm_size--8_MNRWu {
	font-size: .5rem;
	font-weight: 500;
	line-height: 1.5em
}

.receipt-cancel-confirm_size--9_OXdtZ {
	font-size: .5625rem;
	font-weight: 500;
	line-height: 1.5555555556em
}

.receipt-cancel-confirm_size--9-sb_PR00d {
	font-size: .5625rem;
	font-weight: 600;
	line-height: 1.5555555556em
}

.receipt-cancel-confirm_size--10_Zcy5_ {
	font-size: .625rem;
	font-weight: 500;
	line-height: 1.8em
}

.receipt-cancel-confirm_size--11_Oosnn {
	font-size: .6875rem;
	font-weight: 500;
	line-height: 1.6363636364em
}

.receipt-cancel-confirm_size--10-sb_xcLlm {
	font-size: .625rem;
	font-weight: 600;
	line-height: 1.8em
}

.receipt-cancel-confirm_size--12_zb_61 {
	font-size: .75rem;
	font-weight: 500;
	line-height: 1.5em
}

.receipt-cancel-confirm_size--12-sb_DtBny {
	font-size: .75rem;
	font-weight: 600;
	line-height: 1.5em
}

.receipt-cancel-confirm_size--12-b_KogYn {
	font-size: .75rem;
	font-weight: 700;
	line-height: 1.5em
}

.receipt-cancel-confirm_size--13_F0ldg {
	font-size: .75rem;
	font-weight: 500;
	line-height: 1.5em
}

.receipt-cancel-confirm_size--14_U2kUn {
	font-size: .875rem;
	font-weight: 500;
	line-height: 1.5714285714em
}

.receipt-cancel-confirm_size--14-sb_K85k1 {
	font-size: .875rem;
	font-weight: 600;
	line-height: 1.5714285714em
}

.receipt-cancel-confirm_size--14-b_OdNtn {
	font-size: .875rem;
	font-weight: 700;
	line-height: 1.5714285714em
}

.receipt-cancel-confirm_size--16_x9iE5 {
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5em
}

.receipt-cancel-confirm_size--16-sb_sjkdo {
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.5em
}

.receipt-cancel-confirm_size--16-b_nJXj6 {
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.5em
}

.receipt-cancel-confirm_size--18_l1nUl {
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 1.5555555556em
}

.receipt-cancel-confirm_size--18-sb_E2bBt {
	font-size: 1.125rem;
	font-weight: 600;
	line-height: 1.5555555556em
}

.receipt-cancel-confirm_size--18-b_uJQdt {
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 1.5555555556em
}

.receipt-cancel-confirm_size--20_k773z {
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 1.5em
}

.receipt-cancel-confirm_size--20-b_CoKMv {
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 1.5em
}

.receipt-cancel-confirm_size--20-sb_IhJiL {
	font-size: 1.25rem;
	font-weight: 600;
	line-height: 1.5em
}

.receipt-cancel-confirm_size--22_MZQbR {
	font-size: 1.375rem;
	font-weight: 500;
	line-height: 1.2272727273em
}

.receipt-cancel-confirm_size--22-sb_STGSW {
	font-size: 1.375rem;
	font-weight: 600;
	line-height: 1.2272727273em
}

.receipt-cancel-confirm_size--24-sb_m2iHM {
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1.5em
}

.receipt-cancel-confirm_size--24-b_Rcj00 {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.5em
}

.receipt-cancel-confirm_size--28_aXsj4 {
	font-size: 1.75rem;
	font-weight: 500;
	line-height: 1.5em
}

.receipt-cancel-confirm_size--28-sb_FKYzv {
	font-size: 1.75rem;
	font-weight: 600;
	line-height: 1.5em
}

.receipt-cancel-confirm_size--28-b_cl1ci,
.receipt-cancel-confirm_size--32-b_nC8MQ {
	font-size: 1.75rem;
	font-weight: 700;
	line-height: 1.5em
}

.receipt-cancel-confirm_size--36-b_RISaf {
	font-size: 2.25rem;
	font-weight: 700;
	line-height: 1.1666666667em
}

.receipt-cancel-confirm_size--40-b_N98_y {
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 1.3em
}

.receipt-cancel-confirm_receipt_m_OnK {
	min-height: 622px
}

.buyer-company-selector_modal_tFbB5 .modal__body {
	width: 566px
}

.buyer-company-selector_modal_tFbB5 .heading--1 {
	margin-left: 16px
}

.buyer-company-selector_box_OowC1 {
	border-radius: 8px;
	border: 1px solid #ebebeb;
	padding: 16px;
	margin-bottom: 12px
}

.buyer-company-selector_box_OowC1.buyer-company-selector_active_Sp1Ah {
	border-color: #2a2d32
}

.buyer-company-selector_boxCheck_DMa7R {
	align-items: flex-start
}

.buyer-company-selector_addCompanyBtn_LcGGP {
	box-shadow: 0 4px 8px 0 rgba(49, 47, 51, .1);
	border: 1px dashed silver
}

.buyer-company-selector_addCompanyBtn_LcGGP span {
	font-weight: 400;
	text-transform: none
}

.buyer-company-selector_companyContainer_tUqhq {
	display: flex;
	flex-direction: row;
	justify-content: space-between
}

.buyer-company-selector_iconWrapper_o1ToH {
	display: flex;
	flex-direction: column;
	justify-content: center
}

.generate-invoice_modal_lF58W .modal__header {
	margin-bottom: 1.5rem !important
}

.generate-invoice_modal_lF58W section {
	display: none
}

.generate-invoice_modal_lF58W .modal__content {
	text-align: left !important
}

.content-box_theme--modal_kaF1v .content-box_top_c3y38 {
	margin-bottom: 1.5rem
}

.content-box_theme--modal_kaF1v .content-box_title_R6m58 {
	font-size: 28px;
	line-height: 42px;
	font-weight: 700;
	color: #2a2d32
}

.content-box_theme--modal_kaF1v .content-box_title_R6m58:not(:last-child) {
	margin-bottom: 8px
}

.content-box_theme--modal_kaF1v .content-box_content_ibZoS {
	font-size: 14px;
	line-height: 22px;
	color: #8c8b88
}

.content-box_theme--error_TwiYh .content-box_top_c3y38 {
	margin-bottom: 44px
}

.content-box_theme--error_TwiYh .content-box_title_R6m58 {
	font-size: 28px;
	line-height: 42px;
	font-weight: 700;
	color: #2a2d32
}

.content-box_theme--error_TwiYh .content-box_title_R6m58:not(:last-child) {
	margin-bottom: 16px
}

.content-box_theme--error_TwiYh .content-box_content_ibZoS {
	font-size: 16px;
	line-height: 1.5rem;
	color: #8c8b88
}

.content-box_theme--process__1dM5 .content-box_top_c3y38 {
	margin-bottom: 16px
}

.content-box_theme--process__1dM5 .content-box_title_R6m58 {
	font-size: 28px;
	line-height: 42px;
	font-weight: 700;
	color: #2a2d32
}

.content-box_theme--process__1dM5 .content-box_title_R6m58:not(:last-child) {
	margin-bottom: 8px
}

.content-box_theme--process__1dM5 .content-box_content_ibZoS {
	font-size: 16px;
	line-height: 1.5rem;
	color: #2a2d32
}

.content-box_theme--infobox_uquhL .content-box_top_c3y38 {
	margin-bottom: 1.5rem
}

.content-box_theme--infobox_uquhL .content-box_title_R6m58 {
	font-size: 18px;
	line-height: 1.5rem;
	font-weight: 700;
	color: #2a2d32
}

.content-box_theme--infobox_uquhL .content-box_title_R6m58:not(:last-child) {
	margin-bottom: 12px
}

.content-box_theme--infobox_uquhL .content-box_content_ibZoS {
	font-size: 16px;
	line-height: 1.5rem;
	color: #8c8b88
}

.content-box_theme--placeholder_MBApE .content-box_top_c3y38 {
	margin-bottom: 20px
}

.content-box_theme--placeholder_MBApE .content-box_title_R6m58 {
	font-size: 16px;
	line-height: 1.5rem;
	color: #2a2d32
}

.content-box_theme--placeholder_MBApE .content-box_title_R6m58:not(:last-child) {
	margin-bottom: 4px
}

.content-box_theme--placeholder_MBApE .content-box_content_ibZoS {
	font-size: 14px;
	line-height: 22px;
	color: #8c8b88
}

.content-box_content_ibZoS:not(:last-child) {
	margin-bottom: 1.5rem
}

.content-box-with-round-icon_size--8_UWibw {
	font-size: .5rem;
	font-weight: 500;
	line-height: 1.5em
}

.content-box-with-round-icon_size--9_uyhP3 {
	font-size: .5625rem;
	font-weight: 500;
	line-height: 1.5555555556em
}

.content-box-with-round-icon_size--9-sb_e7QF8 {
	font-size: .5625rem;
	font-weight: 600;
	line-height: 1.5555555556em
}

.content-box-with-round-icon_size--10_kwV_6 {
	font-size: .625rem;
	font-weight: 500;
	line-height: 1.8em
}

.content-box-with-round-icon_size--11_p7NMc {
	font-size: .6875rem;
	font-weight: 500;
	line-height: 1.6363636364em
}

.content-box-with-round-icon_size--10-sb_DX6kE {
	font-size: .625rem;
	font-weight: 600;
	line-height: 1.8em
}

.content-box-with-round-icon_size--12_se4KI {
	font-size: .75rem;
	font-weight: 500;
	line-height: 1.5em
}

.content-box-with-round-icon_size--12-sb_jWWLY {
	font-size: .75rem;
	font-weight: 600;
	line-height: 1.5em
}

.content-box-with-round-icon_size--12-b_LyRmL {
	font-size: .75rem;
	font-weight: 700;
	line-height: 1.5em
}

.content-box-with-round-icon_size--13_SyqKp {
	font-size: .75rem;
	font-weight: 500;
	line-height: 1.5em
}

.content-box-with-round-icon_size--14_HBeEK {
	font-size: .875rem;
	font-weight: 500;
	line-height: 1.5714285714em
}

.content-box-with-round-icon_size--14-sb_Q8Ot3 {
	font-size: .875rem;
	font-weight: 600;
	line-height: 1.5714285714em
}

.content-box-with-round-icon_size--14-b_qUS4v {
	font-size: .875rem;
	font-weight: 700;
	line-height: 1.5714285714em
}

.content-box-with-round-icon_size--16_oBai5 {
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5em
}

.content-box-with-round-icon_size--16-sb_ksZ8R {
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.5em
}

.content-box-with-round-icon_size--16-b_Udi65 {
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.5em
}

.content-box-with-round-icon_size--18_tXPD7 {
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 1.5555555556em
}

.content-box-with-round-icon_size--18-sb_TnWu5 {
	font-size: 1.125rem;
	font-weight: 600;
	line-height: 1.5555555556em
}

.content-box-with-round-icon_size--18-b_wixub {
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 1.5555555556em
}

.content-box-with-round-icon_size--20_TtFWf {
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 1.5em
}

.content-box-with-round-icon_size--20-b_Sedq2 {
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 1.5em
}

.content-box-with-round-icon_size--20-sb_ibBxz {
	font-size: 1.25rem;
	font-weight: 600;
	line-height: 1.5em
}

.content-box-with-round-icon_size--22_bvty6 {
	font-size: 1.375rem;
	font-weight: 500;
	line-height: 1.2272727273em
}

.content-box-with-round-icon_size--22-sb_BTKws {
	font-size: 1.375rem;
	font-weight: 600;
	line-height: 1.2272727273em
}

.content-box-with-round-icon_size--24-sb_mrYHi {
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1.5em
}

.content-box-with-round-icon_size--24-b__Tz8g {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.5em
}

.content-box-with-round-icon_size--28_PdiDf {
	font-size: 1.75rem;
	font-weight: 500;
	line-height: 1.5em
}

.content-box-with-round-icon_size--28-sb_oMGuX {
	font-size: 1.75rem;
	font-weight: 600;
	line-height: 1.5em
}

.content-box-with-round-icon_size--28-b_FD_xM,
.content-box-with-round-icon_size--32-b_AfsRk {
	font-size: 1.75rem;
	font-weight: 700;
	line-height: 1.5em
}

.content-box-with-round-icon_size--36-b_qQZ41 {
	font-size: 2.25rem;
	font-weight: 700;
	line-height: 1.1666666667em
}

.content-box-with-round-icon_size--40-b_CnSUu {
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 1.3em
}

.content-box-with-round-icon_block_ayhrV {
	border-radius: 8px;
	flex-grow: 0;
	max-width: 448px;
	background: #fff;
	text-align: center;
	padding: 0 1.5rem 32px
}

.content-box-with-round-icon_blockFluid_GmcKA {
	width: 100%
}

@media(max-width:640px) {
	.content-box-with-round-icon_block_ayhrV {
		max-width: 100%
	}
}

.content-box-with-round-icon_blockIconWrap_X7Ep1 {
	border-radius: 50%;
	height: 114px;
	width: 114px;
	border: 15px solid #fff;
	margin-top: -57px;
	position: relative
}

.content-box-with-round-icon_icon_w2tBD {
	position: absolute;
	top: -2px
}

.square-pending-transaction_wrapper_x8Nmd {
	height: 100%
}

.square-pending-transaction_isModal_Sc2mS {
	padding-top: 120px
}

.receipt_size--8_y7IIS {
	font-size: .5rem;
	font-weight: 500;
	line-height: 1.5em
}

.receipt_size--9_K8PTf {
	font-size: .5625rem;
	font-weight: 500;
	line-height: 1.5555555556em
}

.receipt_size--9-sb_W5cNo {
	font-size: .5625rem;
	font-weight: 600;
	line-height: 1.5555555556em
}

.receipt_size--10_XKSQK {
	font-size: .625rem;
	font-weight: 500;
	line-height: 1.8em
}

.receipt_size--11_QU9B3 {
	font-size: .6875rem;
	font-weight: 500;
	line-height: 1.6363636364em
}

.receipt_size--10-sb_SipIS {
	font-size: .625rem;
	font-weight: 600;
	line-height: 1.8em
}

.receipt_size--12_WdO_s {
	font-size: .75rem;
	font-weight: 500;
	line-height: 1.5em
}

.receipt_size--12-sb_CRk_K {
	font-size: .75rem;
	font-weight: 600;
	line-height: 1.5em
}

.receipt_size--12-b_WkXU2 {
	font-size: .75rem;
	font-weight: 700;
	line-height: 1.5em
}

.receipt_size--13_QEoBK {
	font-size: .75rem;
	font-weight: 500;
	line-height: 1.5em
}

.receipt_size--14_eTWiF {
	font-size: .875rem;
	font-weight: 500;
	line-height: 1.5714285714em
}

.receipt_size--14-sb_ihjea {
	font-size: .875rem;
	font-weight: 600;
	line-height: 1.5714285714em
}

.receipt_size--14-b_k7oKU {
	font-size: .875rem;
	font-weight: 700;
	line-height: 1.5714285714em
}

.receipt_size--16_TLbRh {
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5em
}

.receipt_size--16-sb_NHoFG {
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.5em
}

.receipt_size--16-b_eVuIy {
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.5em
}

.receipt_size--18_exfL9 {
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 1.5555555556em
}

.receipt_size--18-sb_jrgVu {
	font-size: 1.125rem;
	font-weight: 600;
	line-height: 1.5555555556em
}

.receipt_size--18-b_qtRys {
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 1.5555555556em
}

.receipt_size--20_Gl87q {
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 1.5em
}

.receipt_size--20-b_Boxb6 {
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 1.5em
}

.receipt_size--20-sb_W82QZ {
	font-size: 1.25rem;
	font-weight: 600;
	line-height: 1.5em
}

.receipt_size--22_fR1Dk {
	font-size: 1.375rem;
	font-weight: 500;
	line-height: 1.2272727273em
}

.receipt_size--22-sb_fj66Q {
	font-size: 1.375rem;
	font-weight: 600;
	line-height: 1.2272727273em
}

.receipt_size--24-sb_l3EQ6 {
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1.5em
}

.receipt_size--24-b_HubVm {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.5em
}

.receipt_size--28_EJu1A {
	font-size: 1.75rem;
	font-weight: 500;
	line-height: 1.5em
}

.receipt_size--28-sb_k2KuV {
	font-size: 1.75rem;
	font-weight: 600;
	line-height: 1.5em
}

.receipt_size--28-b_VxC67,
.receipt_size--32-b_waB5D {
	font-size: 1.75rem;
	font-weight: 700;
	line-height: 1.5em
}

.receipt_size--36-b_kPPMJ {
	font-size: 2.25rem;
	font-weight: 700;
	line-height: 1.1666666667em
}

.receipt_size--40-b_mRuf2 {
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 1.3em
}

.receipt_receiptWrapper_ZpUQq {
	max-width: 465px
}

.receipt_receiptContent_W16zO {
	box-shadow: 0 15px 25px -6px rgba(0, 0, 0, .1);
	overflow: initial !important;
	position: relative;
	background-color: #fff
}

.receipt_receiptHeader_or90S,
.receipt_receiptReceipt_KzM2Z {
	padding: 1rem 1.5rem
}

.receipt_receiptHeaderId_Y35MI,
.receipt_receiptHeaderStatus_Sz1gg {
	text-align: center
}

.receipt_receiptHeaderClose_B4UTD {
	position: absolute;
	top: 18px;
	left: 14px;
	cursor: pointer
}

.receipt_receiptHeaderCloseNav_AJcN1 {
	color: #2a2c32
}

.receipt_receiptHeaderSend_XpRqZ {
	height: 40px
}

.receipt_dropdownContent_W7vx5 {
	color: #2a2d32;
	min-width: 160px
}

.receipt_dropdownContent_W7vx5 :first-child {
	padding-top: 0
}

.receipt_dropdownContent_W7vx5 :last-child {
	border-bottom: none;
	padding-bottom: 0
}

.receipt_dropdownItem_Rdz1D {
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	font-size: 14px;
	font-weight: 400;
	padding: 12px 0;
	cursor: pointer;
	border-bottom: 1px solid #ebebeb
}

.receipt_break_EL1Lq2 {
	overflow: hidden
}

.receipt_break_EL1Lq2>div {
	position: relative;
	height: 12px;
	box-shadow: inset 0 6px 8px 0 rgba(0, 0, 0, .08)
}

.receipt_break_EL1Lq2>div:after {
	content: "";
	height: 9px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-image: url(https://d10n9ka7jp2kfo.cloudfront.net/pro/bdc32561/img/receipt-decorator.b8e0e674.svg);
	background-size: auto 100%
}

.receipt_staffCommissionModal_ysw3s .modal__header {
	margin-bottom: 0 !important
}

.receipt_staffCommissionModal_ysw3s .modal__content {
	overflow: visible
}
