.index_container_jtGZY {
  position: relative;
}
.index_container_jtGZY .index_message_IeJl5 {
  font-size: 11px;
  border-radius: 0 0 6px 6px;
  padding: 2px 10px;
}
.index_container_jtGZY.index_theme--error_q2ehf .index_message_IeJl5 {
  color: #fff;
  background-color: #eb0043;
  border: 1px solid #eb0043;
}
.index_container_jtGZY.index_theme--warning_VkST8 .index_message_IeJl5 {
  color: #fff;
  background-color: #ff9400;
  border: 1px solid #ff9400;
}
.index_container_jtGZY.index_theme--conflict_y9AQL .index_message_IeJl5 {
  color: #fff;
  background-color: #eb0043;
  border: 1px solid #eb0043;
}
.fiscal-receipt_size--8_s67pt {
  font-size: 0.5rem;
  font-weight: 500;
  line-height: 1.5em;
}
.fiscal-receipt_size--9_X8W4N {
  font-size: 0.5625rem;
  font-weight: 500;
  line-height: 1.5555555556em;
}
.fiscal-receipt_size--9-sb_eHB9C {
  font-size: 0.5625rem;
  font-weight: 600;
  line-height: 1.5555555556em;
}
.fiscal-receipt_size--10_mS1zo {
  font-size: 0.625rem;
  font-weight: 500;
  line-height: 1.8em;
}
.fiscal-receipt_size--11_xreFO {
  font-size: 0.6875rem;
  font-weight: 500;
  line-height: 1.6363636364em;
}
.fiscal-receipt_size--10-sb_CM2NA {
  font-size: 0.625rem;
  font-weight: 600;
  line-height: 1.8em;
}
.fiscal-receipt_size--12_hrdju {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.5em;
}
.fiscal-receipt_size--12-sb_vZE6J {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.5em;
}
.fiscal-receipt_size--12-b_Al3sh {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.5em;
}
.fiscal-receipt_size--13_yc2Da {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.5em;
}
.fiscal-receipt_size--14_GzwIw {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5714285714em;
}
.fiscal-receipt_size--14-sb_pLTl2 {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5714285714em;
}
.fiscal-receipt_size--14-b_HINs8 {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5714285714em;
}
.fiscal-receipt_size--16_sfBM_ {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5em;
}
.fiscal-receipt_size--16-sb_OWTkn {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5em;
}
.fiscal-receipt_size--16-b_wTXG0 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5em;
}
.fiscal-receipt_size--18_v5xku {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5555555556em;
}
.fiscal-receipt_size--18-sb_q4ze7 {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5555555556em;
}
.fiscal-receipt_size--18-b_vn3Yj {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.5555555556em;
}
.fiscal-receipt_size--20_Lwunz {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5em;
}
.fiscal-receipt_size--20-b_pYkvo {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5em;
}
.fiscal-receipt_size--20-sb_FpDLc {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5em;
}
.fiscal-receipt_size--22_ETolJ {
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1.2272727273em;
}
.fiscal-receipt_size--22-sb_mRXMx {
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 1.2272727273em;
}
.fiscal-receipt_size--24-sb_T6bgO {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5em;
}
.fiscal-receipt_size--24-b_brvUX {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5em;
}
.fiscal-receipt_size--28_Gnggr {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.5em;
}
.fiscal-receipt_size--28-sb_YHLcq {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.5em;
}
.fiscal-receipt_size--28-b_GyW_m,
.fiscal-receipt_size--32-b_otSiz {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.5em;
}
.fiscal-receipt_size--36-b_hVT7B {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.1666666667em;
}
.fiscal-receipt_size--40-b_Ncebz {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.3em;
}
.fiscal-receipt_fiscalReceipt_vYE3M {
  text-align: left;
}
.fiscal-receipt_fiscalReceiptContent_oMFBz {
  box-shadow: 0 15px 25px -6px rgba(0, 0, 0, 0.1);
  overflow: initial !important;
  position: relative;
  background-color: #fff;
}
.fiscal-receipt_total_UWuXf {
  border-top: 1px solid var(--b-color-border);
  border-bottom: 1px solid var(--b-color-border);
  background-color: var(--b-color-bg-tertiary);
}
.fiscal-receipt_taxRates_YwM_W {
  border-radius: var(--b-border-radius-lg);
  background-color: var(--b-color-bg-tertiary);
  border: 1px solid var(--b-color-border);
  padding: 0 var(--b-gap-2);
}
.fiscal-receipt_dropdownContent_k0SIc {
  color: #2a2d32;
  min-width: 160px;
}
.fiscal-receipt_dropdownContent_k0SIc :first-child {
  padding-top: 0;
}
.fiscal-receipt_dropdownContent_k0SIc :last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.fiscal-receipt_dropdownItem_SKQBI {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  padding: 12px 0;
  cursor: pointer;
  border-bottom: 1px solid #ebebeb;
}
.receipt_size--8_gcR0F {
  font-size: 0.5rem;
  font-weight: 500;
  line-height: 1.5em;
}
.receipt_size--9_OJY6K {
  font-size: 0.5625rem;
  font-weight: 500;
  line-height: 1.5555555556em;
}
.receipt_size--9-sb_G8RgA {
  font-size: 0.5625rem;
  font-weight: 600;
  line-height: 1.5555555556em;
}
.receipt_size--10_iIz2t {
  font-size: 0.625rem;
  font-weight: 500;
  line-height: 1.8em;
}
.receipt_size--11_k8thX {
  font-size: 0.6875rem;
  font-weight: 500;
  line-height: 1.6363636364em;
}
.receipt_size--10-sb_Q_t1D {
  font-size: 0.625rem;
  font-weight: 600;
  line-height: 1.8em;
}
.receipt_size--12__92f_ {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.5em;
}
.receipt_size--12-sb_pp5Ni {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.5em;
}
.receipt_size--12-b_EsqXH {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.5em;
}
.receipt_size--13_N7AhU {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.5em;
}
.receipt_size--14_sw1nK {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5714285714em;
}
.receipt_size--14-sb__qn0Y {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5714285714em;
}
.receipt_size--14-b_M5iBn {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5714285714em;
}
.receipt_size--16_K6HCY {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5em;
}
.receipt_size--16-sb_gZDcO {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5em;
}
.receipt_size--16-b_k0HcS {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5em;
}
.receipt_size--18_vQjMc {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5555555556em;
}
.receipt_size--18-sb_tgEbT {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5555555556em;
}
.receipt_size--18-b_f4oor {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.5555555556em;
}
.receipt_size--20_Dr5yH {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5em;
}
.receipt_size--20-b_qdr6G {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5em;
}
.receipt_size--20-sb_meMoR {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5em;
}
.receipt_size--22_tQkH_ {
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1.2272727273em;
}
.receipt_size--22-sb_FK_Ui {
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 1.2272727273em;
}
.receipt_size--24-sb_eqgLF {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5em;
}
.receipt_size--24-b_UsGBU {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5em;
}
.receipt_size--28_ojIsj {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.5em;
}
.receipt_size--28-sb_eJTgm {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.5em;
}
.receipt_size--28-b_NQEp8,
.receipt_size--32-b_zuxu0 {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.5em;
}
.receipt_size--36-b_xYWyQ {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.1666666667em;
}
.receipt_size--40-b_37NO_ {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.3em;
}
.receipt_modalBody_xHm4g {
  width: 465px;
  margin: 0 auto;
  padding: 0 !important;
  box-shadow: none !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: none;
}
